.logo-reservia
{
    float: left;
    width: 150px;
    margin: 10px;
}
.header
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    float:right;
}
li
{
    width: 100px;
}
.premier-p
{
    clear:both
}
 .header a:hover
 {
color: blue;
 }
.conteneur
{
    justify-content: flex-start;
}
.conteneur2
{
    display: flex;
    align-items: stretch;
}