#conteneur {
    width: 1100px;
    margin: 0 auto;
}
.logo-reservia
{
    max-width: 100%;
    max-height: 40px;
    width: auto;
}
.logo-button {
    border-radius: 20px;
    border:lightblue 1px solid;
    padding : 3px;
    background-color: lightblue;
}
button {
    background-color: white;
    border-radius: 3px;
    border: 2px solid lightblue;
    /* border: lightblue 1px solid; */
    padding: 3px;
    /* border-radius: 20px; */
}
.element1-img 
{
    flex-grow: 10;
}
.icone
{
    color: #0065FC;
   
}
.premier-p
{
    clear: both;
}
 #conteneur-header a:hover
 {
   color: blue;
 }
.hebergement
{
    width: 100%;
    max-height: 50%;
    border-radius: 20px 20px 0px 0px;
}
#conteneur2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.element
{
    width:25%;
    max-height: 150px;
    padding: 5px;
    margin: 10px;
    border: gray 1px solid;
    border-radius: 30px;
    background-color: white;
    flex: auto;
    /* overflow: hidden; */
}

#conteneur-hebergement
{
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 10px;
    flex-grow: 2;
    flex-basis: 0;
}
#conteneur-populaires
{
    border:#F2F2F2 1px solid;
    border-radius: 30px;
    background-color: #F2F2F2;
    padding: 5px;
    margin:10px;
    flex-grow: 1;
    flex-basis: 0;
}
img { width: 100%; height: auto; }
.populaires
{
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    border-radius: 20px 0 0 20px;
    flex: 1;
    flex-grow: 1;
}

.element-populaire {
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 30px;
    width: 80%;
    display: flex;
    height: 100px;
}

.element-populaire p {
    flex: 1;
    flex-grow: 2;
    margin-left: 10px;
}
.elem {
    display: flex;
    max-width: 100%;
}

#conteneur-parent
{
    display: flex;
    flex-wrap: nowrap;
}
body
{
    font-family: 'Raleway', sans-serif;
}
.element1
{
    flex-grow: 1;
}
#conteneur-header
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
h2
{
    margin: 0;
}
a
{
    color: black;
}
.activites
{
    max-height: 100%;
    max-width: 100%;
    
}
#conteneur-activites
{
    margin: 25px;
    padding: 10px;
    box-shadow: 0px 0px 3px 3px #F2F2F2;
    border-radius: 20px;
}
.element-activites {
    flex: auto;
    margin: 10px;
    padding: 10px;
}
#conteneur4
{
    display: flex;
}
h4
{
    padding-left: 30px;
}
#conteneur-footer
{   display: flex;
    margin: 25px;
    padding: 10px;
    border-radius: 1px 1px 1px 1px;
    border: grey 0px solid;
    justify-content: space-around;
    background-color:#F2F2F2 ;
}
.activites
{
    margin: 0;
}


